*:not(img) {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:chocolate;
  background-color: beige;
  text-align: center;
}

img:hover {
  animation: alternate ease-in 2s infinite rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}